# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# Build output
x64/
Debug/
Release/
build/
bin/

# CMake
cmake-build-*/

# External binaries (po potrebi zadrži ako moraš)
*.exe
*.dll
*.obj
*.pdb

# OS
Thumbs.db
.DS_Store
